#image.tab-pane.fade
    nav#paginationnav(aria-label='Page navigation example')
        ul.pagination
            li.page-item.first.disabled
                span &laquo;
            li.page-item.previous.disabled
                span &lt;
            li.page-item.active
                span#left.page-link(data-pagenumber='1', onclick='updateImageGallery(this)') 1
            li.page-item
                span#middle.page-link(data-pagenumber='2', onclick='updateImageGallery(this)') 2
            li.page-item
                span#right.page-link(data-pagenumber='3', onclick='updateImageGallery(this)') 3
            li.page-item.next
                span &gt;
            li.page-item.last
                span &raquo;
    div.tab-content-container
        #imageContainer