#imageInfoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageInfoModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                h3#imageInfoModalLabel.modal-title Image Detail
            .modal-body
                image#thumbnail(src="")
                br
                span Title:
                span#span1 span1
                br
                span Position: This is the
                span#span2 span2
                span image on page
                span#span3 span3

#rotationModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='rotationModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                h4#rotationModalLabel.modal-title Error
            .modal-body
                span#input-span input-span
                span is not valid.
                br
                span#message-span message-span