#video.tab-pane.active.fade.in
    .row
        .col-sm-1
        #videoContainer.col-sm-10
            h2= video_title
            h3= video_body
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src='//www.youtube.com/embed/AZUxpa_ycYo')
        .col-sm-1