extends layout

block content
    .container
        #content
            ul#tabs.nav.nav-tabs.navbar-fixed-bottom.navbar-default(data-tabs='tabs')
                li.active.col-sm-4
                    a(href='#video', data-toggle='tab') Video
                li.col-sm-4
                    a(href='#image', data-toggle='tab') Image
                li.col-sm-4
                    a(href='#other', data-toggle='tab') Other
            #my-tab-content.tab-content
                include includes/video.pug
                include includes/image.pug
                include includes/other.pug
    include includes/modal.pug



