extends layout

block content
    .container
        #content
            ul#tabs.nav.nav-tabs.navbar-fixed-bottom.navbar-default(data-tabs='tabs')
                li.active.col-sm-4
                    a(href='#video', data-toggle='tab') Video
                li.col-sm-4
                    a(href='#image', data-toggle='tab') Image
                li.col-sm-4
                    a(href='#other', data-toggle='tab') Other
            #my-tab-content.tab-content
                #video.tab-pane.active
                    .row
                        .col-sm-1
                        .col-sm-10
                            h2= video_title
                            h3= video_body
                            .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(src='//www.youtube.com/embed/AZUxpa_ycYo')
                        .col-sm-1
                    .row
                        .col-sm-1
                        .col-sm-10
                            h2= video_title
                            h3= video_body
                            .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(src='//www.youtube.com/embed/AZUxpa_ycYo')
                        .col-sm-1
                #image.tab-pane
                    h1 Image
                    p image image image image image
                    nav(aria-label='Page navigation example')
                        ul.pagination
                            li.page-item
                                a.page-link(href='#', aria-label='Previous')
                                    span(aria-hidden='true') &laquo;
                                    |
                                    span.sr-only Previous
                            li.page-item
                                span.page-link(onclick='imagePage(1)') 1
                            li.page-item
                                span.page-link(onclick='imagePage(2)') 2
                            li.page-item
                                span.page-link(onclick='imagePage(3)') 3
                            li.page-item
                                a.page-link(href='#', aria-label='Next')
                                    span(aria-hidden='true') &raquo;
                                    |
                                    span.sr-only Next
                    #imageContainer
                        img.img-responsive(src='http://placehold.it/600/92c952', alt='image1')
                        h3 111 accusamus beatae ad facilis cum similique qui sunt
                #other.tab-pane
                    h1 Other
                    p other other other other other

        script(type='text/javascript').
            jQuery(document).ready(function ($) {
                $('#tabs').tab();
            });
        script(type='text/javascript').
            function imagePage(pageNumber) {
                $.ajax({
                    method: "POST",
                    url: "/imageService",
                    data: {
                        "pageNumber": pageNumber
                    }
                })
                .done(function (res) {
                    $('#imageContainer').html("");
                    var img = $('<img />', {
                        class: 'img-responsive',
                        src: res.url,
                        alt: res.id
                    });
                    img.appendTo($('#imageContainer'));
                });
            }