body {
    padding: 50px 50px 100px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-y: hidden;
}
a {
    color: #4BA8DC;
}
.nav{
    background-color:#4BA8DC !important;
}
.nav-tabs{
    background-color:#4BA8DC !important;
}
.tab-content{
    color:#4BA8DC;
    padding:5px
}
.nav-tabs > li > a{
     background-color: #4BA8DC !important;
     border: medium none !important;
     border-radius: 0 !important;
     color:#bfe0f2 !important;
    font-size: 22px;
 }
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    cursor: default;
    background-color: #ffffff !important;
    border: medium none !important;
    border-radius: 0 !important;
    color:#4BA8DC !important;
}
.nav-tabs > li > a:hover{
    background-color: #4BA8DC !important;
    border: medium none !important;
    border-radius: 0 !important;
    color:#fff !important;
}
.tab-pane.fade{
    transition: opacity .8s linear;
}

.nav.nav-tabs.navbar-fixed-bottom>li {
    padding: 0px;
}
.nav.nav-tabs.navbar-fixed-bottom>li>a {
    margin: 0px;
    border: 0px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* video tab*/
#videoContainer{
    height: 90vh;
}
iframe{
    max-height: 60vh;
}
/* image tab*/
#paginationnav .pagination > .page-item > span:hover {
    background-color: #eaf5fb;
    border-color: #ddd;
}
#paginationnav .pagination > .page-item.active > span,
#paginationnav .pagination > .page-item.active > span:focus,
#paginationnav .pagination > .page-item.active > span:hover {
    background-color: #4BA8DC;
    border-color: #4BA8DC;
}
#paginationnav .pagination > .page-item.disabled > span,
#paginationnav .pagination > .page-item.disabled > span:focus,
#paginationnav .pagination > .page-item.disabled > span:hover {
    background-color: #fbe9e9;
    border-color: #ddd;
}
#imageContainer, #image{
    text-align: center;
}
img.img-responsive.img-margin, #paginationnav{
    margin: auto;
}
.img-description {
    margin: 25px 0px 50px 0px;
    font-size: 22px;
}
ul.pagination {
    margin: 0px 0px 10px 0px;
}
ul.pagination > li > span {
    cursor: pointer;
}
.tab-content-container{
    height: 75vh;
    overflow-y: scroll;
}
/* other tab */
div.tabtitle-container {
    text-align: center;
}
.tab-title {
    margin: auto;
    padding-bottom: 25px;
}
span.input-description {
    padding-left: 15px;
}
#rotationImg {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition:         transform 1s ease-in-out;
}
#rotationImg:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
/* modals */
.modal-body span {
    font-size: 18px;
    color: #232323;
}
#imageInfoModal .modal-header{
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #eef7ed;
    color: #82C678;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#imageInfoModal .modal-body img {
    padding-bottom: 15px;
}
#span2,#span3 {
    color: #7ac36f;
}
#rotationModal .modal-header{
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #fbe9e9;
    color: #E25D5D;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#input-span {
    color: #E25D5D;
}
