body {
  padding: 50px 50px 100px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y: hidden;
}
a {
  color: #00b7ff;
}
#map-canvas {
  width: 1200px;
  height: 800px;
}
.nav.nav-tabs.navbar-fixed-bottom>li {
    padding: 0px;
}
.nav.nav-tabs.navbar-fixed-bottom>li>a {
  margin: 0px;
  border: 0px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#imageContainer, #image{
    text-align: center;
}
img.img-responsive.img-margin, #paginationnav{
    margin: auto;
}
.img-description {
    margin: 25px 0px 50px 0px;
    font-size: 22px;
}

.tab-content-container {
    height: 75vh;
    overflow-y: scroll;
}